.button {
  margin-bottom: 10px;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  
  width: 100%;
  box-sizing: border-box;
  display: block flex;
  
  background: #282828;
}

main .button:not(:first-child) {
  margin-top: 18px;
}

section .button.trailing {
  margin-left: auto;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  width: fit-content;
}

a.button {
  color: #eee;
  text-decoration: none;
}

main a.button::after {
  margin-left: auto;
  margin-right: 0px;
  content: url("/chevron-right.svg");
  font-size: 100%;
  scale: 1.2;
}

nav .button.selected {
  background: #5050ff80;
}

nav .button:hover {
  background: #ff00ffcc;
}

main .button:hover {
  background: #5050ff80;
}
