body {
  margin: 0px;
  
  color: #eee;
  background: #111;
  font-family: "Courier";
  
  min-width: 800px;
  min-height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: min-content 1fr;
}

.ripdb {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 22px;
  height: min-content;
  
  text-align: center;
  
  font-size: 30px;
  font-weight: bold;
  color: #5050ff;
  text-decoration: none;
  background: #222;
}

.ripdb:hover {
  background: #282828;
}

nav {
  padding: 10px;
  background: #1a1a1a;
  display: block flow;
}

main {
  padding: 15px;
  overflow: auto;
}
