.content-flexbox {
  display: flex;
}

section:not(.no-border) {
  border: 0.8px solid #aaab;
  border-radius: 10px;
  padding-left: 12px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
}

:not(.content-flexbox) section:not(.no-border) {
  margin-bottom: 10px;
}

:not(.content-flexbox) > section:not(.no-border):has(> .section-headline) {
  margin-top: 18px;
}

.content-flexbox:has(> section:has(> .section-headline)) {
  margin-top: 18px;
}

.content-flexbox section:not(:last-child) {
  margin-right: 10px;
}
