header {
  margin-bottom: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 30px;
}

main {
  margin: 10px;
}

.section-headline {
  margin-top: 18px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.section-headline:has(~ .subheadline, ~ .subsection-headline) {
  margin-bottom: 5px;
}

.subsection-headline {
  margin-top: 0px;
  margin-bottom: 3px;
}

.subheadline {
  margin-top: 3px;
  margin-bottom: 8px;
}

.section-headline ~ .subsection-headline, .section-headline ~ .subheadline {
  padding-left: 5px;
}

ul.object-children {
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 10px;
}

ul.object-children li {
  list-style-image: url(/chevron-right.svg);
  list-style-position: outside;
  padding-left: 8px;
}

ul.object-children li:not(:first-of-type) {
  margin-top: 10px;
}

table.object-properties {
  margin-left: -2px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 1.5px 4px;
}

table.object-properties td,th {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
}

table.object-properties tr > :first-child {
  width: 25%;
  max-width: 35%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 8px;
  text-align: center;
}

table.object-properties tr > :last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-right: 8px;
}
