body {
  margin: 0px;
  color: #eee;
  background: #111;
  font-family: "Courier";
}

header {
  margin-bottom: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 30px;
  font-weight: bold;
  color: #303bdd;
  background: #1a1a1a;
}

main {
  margin: 10px;
}

.no-value {
  color: #888;
}

.secondary {
  color: #888;
}

a {
  color: #303bdd;
}

a::visited {
  color: #303bdd;
}

.boxed {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0.5px;
  padding-bottom: 1px;
  color: #000;
  background-color: #eee;
  border-radius: 4px;
  font-weight: 600;
  font-size: 95%;
}

.secondary .boxed, .secondary.boxed {
  border-width: 1px;
  border-color: #888;
}
