body {
  margin: 0px;
  color: #eee;
  background: #111;
  font-family: "Courier";
}

header {
  color: #303bdd;
  font-weight: bold;
  background: #1a1a1a;
}

.no-value {
  color: #bbb;
}

.secondary {
  color: #888;
}

.object-properties th {
  font-weight: bold;
}

.object-properties td,th {
  background: #222;
}

a {
  color: #303bdd;
}

a::visited {
  color: #303bdd;
}

.boxed {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0.5px;
  padding-bottom: 1px;
  border: 0.7px solid #eee;
  border-radius: 4px;
  font-weight: 600;
  font-size: 95%;
}

.secondary .boxed, .secondary.boxed {
  border-width: 1px;
  border-color: #888;
}
